<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_mode</key>
	<string>PRODUCTION</string>
	<key>serverBaseUrl</key>
	<string>https://monoval.42six.com:8443/owf</string>
	<key>serverCert</key>
	<string>alerman.p12</string>
</dict>
</plist>
